#btnGo {
    height: 80px;
    width: 80px;
}

#divSurface {
    position: relative;
    height: 80px;
    width: 600px;
    border: 2px solid black;
    margin-bottom: 20px;
}

#imgFable {
    position: absolute;
    top: 10px;
    left: 10px;
}
